@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

root{
    --color : #16E7FF;
}

body{
    font-size: 100%;   
    background-color: #010018;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    
    
}
html{
    height: 110vh;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h{   
    width: 100%;   
    padding: 20px 4%; 
    position: fixed;
    transition: .5s; 
    z-index: 1000;      
}

.h img{
    width: 150px;
}

header.rolagem{
    background:rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px);
}

.img-h{
    height: 72px;
}

.Menu-h{
    display: flex;
    gap: 62px;    
}

.Menu-h ul{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.Menu-h ul li{
    list-style: none;
    display: flex;
    margin-left: 36px;
}

.Menu-h ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #16E7FF;
    transition: .2s;
}

.Menu-h ul li a:hover{
    color: #fff;
    text-shadow: 1px 1px 50px #16E7FF;
}

.btn-contato button{
    padding: 10px 20px;
    background: #16E7FF;
    border-radius: 2px 2px;
    box-shadow: 1px 1px 10px #16E7FF;    
    transition: .2s;
    color: #fff;
    border: none;
    
}

.btn-contato button.rolagem{
    background: #fff;
    color: #16E7FF;
}

.btn-contato button:hover{
    color: #16E7FF;
    border-radius: 20px 20px;
    background: #fff;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px 30px #16E7FF; 
}


.m-content{
    display: flex;    
    justify-content: space-between;
    padding: 200px;    
}

.m-content a{
    display: flex;
    padding: 15px;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    background:linear-gradient(45deg ,rgba(0, 102, 255, 0.959) ,rgb(0, 153, 255) 50%);
    border-radius: 50px; 
    transition: .2s;
}

.m-content a:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 30px #16E7FF; 
}

.m-content-text{
    margin-top: 100px;
    font-size: 20px; 
}


.Title{
    font-size: 100px;
    color: #16E7FF;
}

.subtitle{
    color: #fff;
}
.subtitle strong{
   color: #16E7FF;
}

.footer{
    background-color: gray;    
}




/*Turismo*/
.content-slide{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-58%, -50%);
    margin: 60px;
    
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;   
    
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;  
    transition: .3s;  
}

.bar:hover{
    background: #16E7FF;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 105%;
}

.slide{
    width: 20%;
    transition: .6s;

}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}
#slide3:checked ~ .s1{
    margin-left: -40%;
}
#slide4:checked ~ .s1{
    margin-left: -60%;
}

.text-carrosel{
    color: #fff;
    text-shadow: -1px 1px 0 #000, 
                          1px 1px 0 #000, 
                         1px -1px 0 #000, 
                        -1px -1px 0 #000; 
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    
}
.text-carrosel strong{
    color: #16E7FF;
}

/*Turismo-FINAL-*/

/*Sobre*/


.sobre{
    background: rgba(70, 70, 70, .4);
    backdrop-filter: blur(30px);
    border-radius: 30px;
    color: #fff;
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sobre h1{
    padding: 60px;
    text-shadow: -1px 1px 0 #000, 
    1px 1px 0 #000, 
   1px -1px 0 #000, 
  -1px -1px 0 #000; 
}
.sobre h3{
    padding: 60px;
    text-shadow: -1px 1px 0 #000, 
    1px 1px 0 #000, 
   1px -1px 0 #000, 
  -1px -1px 0 #000; 
}

.Historia{
    background: rgba(70, 70, 70, .4);
    backdrop-filter: blur(30px);
    border-radius: 30px;
    color: #fff;
    position: absolute;
    top:230%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Historia h1{
    padding: 60px;
    text-shadow: -1px 1px 0 #000, 
    1px 1px 0 #000, 
   1px -1px 0 #000, 
  -1px -1px 0 #000; 
}

.Historia h3{
    padding: 60px;
    text-shadow: -1px 1px 0 #000, 
    1px 1px 0 #000, 
   1px -1px 0 #000, 
  -1px -1px 0 #000; 
}



/*Sobre-Final*/




@media screen and (max-width: 768px){
    .h{
        width: 100%;
        flex-direction: column;
    }
    .m-content{
        width: 100%;
        flex-direction: column;
        padding: 24px;
    }
    .Icons{
        display: block;
        max-width: 100%;
    }
    .about{
        padding: 24px;
    }
}
