@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #010018;    
    min-height: 105vh;
    display: flex;
    flex-direction: column;
}


.header{
    position: fixed;
    display: flex;
    top: 0;   
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    font-size: 1.3rem;
    z-index: 1000;
    transition: .3s;
}

.header.rolagem{    
    background-color: #16E7FF;
    padding: 20px;
}

.header.rolagem h1{
    color: #fff;
}

.header.rolagem a{
    color: #fff;
}

.header h1{
    color: #16E7FF
}


.navigation ul{    
    display: flex;
    justify-content: center;
    align-items: center;      
}
.navigation ul li{
    list-style: none;
    display: flex;
    margin-left: 36px;
}

.navigation ul li a{
    text-decoration: none;
    color: #16E7FF;
    transition: .2s;
}

.navigation ul li a:hover{
    color: #fff;
    text-shadow: 1px 1px 50px #16E7FF;
}


#registrationForm{
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 35%;   
    padding: 60px;
    background-color: rgba(70,70,70, 0.2);
    border-radius: 20px 0;
    backdrop-filter: blur(100px);       
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    padding: 16px; 
    margin-bottom: 130px;   
}

label{
    display: block;
    margin-bottom: 8px;    
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 36px;
    box-sizing: border-box;
    border-radius: 14px;
    border: none;
    padding:10px;
    font-size: 16px;
}

button{
    background-color: #16E7FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 6rem;
    font-size: 1.2rem;
    transition: .35s;
}

button:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 50px #16E7FF;
}

footer{
    background-color: rgb(22, 22, 22);    
    margin-top: auto;
    padding: 30px;
    color: #fff;    
}

footer h4{
    display: flex;
    justify-content: center;
    align-items: center;    
}